[2016-03-30 23:20] gildebrand opened #5 "Status of this repository"
I got recommended this repository from our enterprise integration manager at Klarna, since we use KCO in our Ionic (Cordova) app. I have a couple of questions that I feel that the readme doesn't answer to.

Is this solution ready to be used in production apps, or is it still under construction? If it's ready to be used, I feel that the readme could use some love (integration example).

Also what p

[2016-08-15 15:55] akelagercrantz commented on #5
I would also love to hear an answer to the questions posted above. @niklasdstrom @vectart

[2016-09-05 15:37] hannseman opened #7 "Crash when manually adding framework"
I'm trying to use your library by manually adding `KlarnaCheckout.framework` but this results in a crash when running `[KCOKlarnaCheckout setSnippet:]`. I'm using Swift 2 and Xcode 7. When installing the library through CocoaPods the crash is not happening.

This is the traceback:

[code]

It appears like extension adding `+[NSString stringByBase64DecodingString:encoding:]` is missing from the fra

[2016-09-05 16:13] hannseman opened #8 "Crash when accessing checkoutViewController"
I get a hard crash after accessing `KCOKlarnaCheckout.checkoutViewController`.

Example:

[code]

The method `viewDidLoad()` completes but there appears to be some side-effect of accessing `klarnaCheckout?.checkoutViewController`. Remove the line containing `klarnaCheckout?.checkoutViewController` and everything runs fine.

This is the traceback:

[code]

The framework is installed by CocoaPods an

[2016-09-05 16:49] hannseman opened #9 "KCOCheckoutViewControllerProtocol type of checkoutViewController not visible to swift"
When accessing the `checkoutViewController` swift has no idea of the requirement of conformance of `KCOCheckoutViewControllerProtocol`

From the `KCOKlarnaCheckout.h`:

[code]

From swift:

[code]

This makes it awkward to set properties like `sizingDelegate`, `parentScrollView` and `internalScrollDisabled`. Resulting in `Value of type 'UIViewController' has no member 'sizingDelegate'`.

[2016-09-06 10:05] hannseman opened #10 "Carthage support"
It would be really nice if the iOS-library would get support for Carthage.

https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file

[2016-10-13 09:42] HeyHugo commented on #5
I'm in the same boat, some documentation would be really helpful.

[2017-02-02 20:45] danieloskarsson commented on #10
I agree. Having to introduce CocoaPods next to Carthage in the project just to use Klarna is not nice.

[2017-04-04 15:49] niklasnordmark commented on #7
I have the exact same problem. Did you figure out a way around it (except for using Cocoapods)?

[2017-08-24 17:43] mitemitreski commented on #5
We are re-starting the project. It has been production ready since day one. But I suggest anyone to wait out till the next release.

[2017-08-24 17:44] #5 closed

[2017-10-02 09:15] eFagerman opened #14 "Black screen when opening the checkout view controller in iOS 11"
With iOS 10 it works fine. However, when a running the project on a iOS 11 (Swift 4.0) device the checkout view is complete black.

[2017-10-06 11:24] mitemitreski commented on #14
Can you please send it bit more info. I do know we have some users that are running us from swift already in production.

Either way we will have a look

[2017-11-07 07:04] kitek opened #15 "BrowserActivity.tempListenerInstance has leaked"
KCO-Android version:  1.6.1
It seems you're not unregister some references properly:

[code]

[2017-11-16 14:08] jinhongfyndiq opened #16 "Cocoapod of KlarnaCheckoutSDK does not have a KlarnaCheckout module available for import in swift project"
Recently updated from `pod KlarnaCheckout` (1.5.0) to `pod KlarnaCheckoutSDK` (1.6.1). This causes an issue where the `KlarnaCheckout` module does not exist and can not be imported.

Podfile:
[code]

Calling `pod install` successfully updates the old `KlarnaCheckout` pod to the new `KlarnaCheckoutSDK` pod but the problem is inside Xcode.

`import KlarnaCheckout` shows `No such module 'KlarnaChecko

[2017-11-16 14:41] ghost commented on #16
Check out the test [project](https://github.com/jinhongfyndiq/testing-klarna-checkout-upgrade)

The master branch has `pod KlarnaCheckout` and the update-sdk branch has `pod KlarnaCheckoutSDK`. The update-sdk branch fails as described above.

[2017-11-16 14:49] ghost commented on #16
Also check out this test [project](https://github.com/jinhongfyndiq/testing-klarna-checkout-new)

This project was using `pod KlarnaCheckoutSDK` from the beginning and it fails as described still.

[2017-11-20 14:50] gbanfalvikl commented on #16
Hi! Apologies for the late reply, we're looking at it and will get back you ASAP.

[2017-11-20 15:43] gbanfalvikl commented on #16
Can you try importing KlarnaCheckoutSDK instead? The module was renamed.

[2017-11-20 15:51] ghost commented on #16
throws `No such module 'KlarnaCheckoutSDK'` @gbanfalvikl

[2017-11-21 09:21] ghost commented on #16
Updated the issue description with more details @gbanfalvikl

[2017-11-22 09:09] gbanfalvikl commented on #16
Hi, we tested the project you linked to. Thanks for sending us a sample! The issue is caused by a mislabeled modulemap. A temporary solution for this is:

1. Adding a bridging header to the project to import the main KCO header into Swift:

[code]

2. Renaming the module in the `module.modulemap`to `KlarnaCheckoutSDK`. It should be located in `Pods/KlarnaCheckoutSDK/ios/KlarnaCheckoutSDK.framework

[2017-11-22 09:10] gbanfalvikl commented on #15
Thanks for the heads up, we've solved the issue and it'll be addressed in the next release.

[2018-02-11 19:14] andreasmpet commented on #16
Any resolution to this issue?

Trying 1.6.1 at the moment, and I still can't import the module, nor is there a modulemap file for KlarnaCheckoutSDK

What's the ETA for a new release?

EDIT: The modulemap was there, just not referenced in the xcodeproj file like in all the other pods. Workaround works for now, but I'm kind of worried that this hasn't been fixed in 3 months!

[2018-02-12 09:31] morten-hogseth commented on #16
Unable to import module in 1.6.1, please prioritize this!

[2018-02-12 13:35] gbanfalvikl commented on #16
Hi, we're testing a new release internally now. We'll have a a new version 1.6.2 out later this week or early next week. We apologise for the inconvenience.

[2018-02-12 13:55] andreasmpet commented on #16
Thanks! While you're here (apologies for slightly straying slightly off topic), could you clarify a point in this documentation for me: https://developers.klarna.com/en/gb/kco-v3/checkout/mobile-apps/ios-native-approach

[code]

I don't understand where the local variables confirmationSnippet or uri is coming from. Also, what are the different names that the signal can have? Is there one for error

[2018-02-12 14:00] gbanfalvikl commented on #16
That looks like somebody needs to review the documentation. Developers only need to render the URL from the the complete signal.

We're also hosting documentation [on GitHub](https://github.com/klarna/kco-mobile-sdk/blob/master/ios/README.md) and I'll get in touch with the owner of the developers site to update this text.

Apologies for that.

[2018-02-12 14:04] andreasmpet commented on #16
I read your docs on github too, but they don't mention any handling of the return signal in the "native" section, only the "hybrid" one. The lack of this led me to believe that the other documentation was the most up to date.

[2018-02-25 22:26] mitemitreski commented on #16
We gonna update this as soon as possible to reflect reality. Thanks for bringing it up.

[2018-03-02 15:00] belalfyndiq opened #17 "Android Can't take screen shot due to security policy"
Loading KlarnaCheckout in a Fragment and Stacking this Fragment it make it prevents the Activity from  taking a screenshot thats all ok but when the Fragment is removed from the back stack (the checkoutFragment is Destroyed), it's still preventing the activity from taking a screenshot.

[2018-03-07 10:37] hakan4 commented on #16
is there an update on this issue yet?

[2018-03-22 13:06] gbanfalvikl commented on #16
Hi! We apologise for the delay.

We're working on more substantial changes and we were aiming to incorporate this fix to the next release, but given how long it's taking, we'll be making a release with **just this fix**, tomorrow.

[2018-03-23 15:44] gbanfalvikl commented on #16
New release is out!

[2018-03-23 15:46] gbanfalvikl commented on #17
Thanks for the heads up! We got a bunch of fixes and improvements in the next Android Release, and we'll see if we can fit this one in.

[2018-03-23 16:14] juleadam commented on #16
Works, ty

[2018-03-26 15:33] ghost commented on #16
Works. Thanks. Closing the issue.

[2018-03-26 15:33] #16 closed

[2018-03-27 08:12] gbanfalvikl commented on #10
Hi, we're reworking our CI and release process (both internal and external). As part of that, we'll be making more frequent releases and supporting Carthage as well as CocoaPods.

As a result of this, the iOS project has undergone significant changes, so we want to test that everything works properly before our next large release.

Carthage support is working internally. We'll keep you updated and

[2018-04-20 11:16] jinhongfyndiq opened #18 "Elements in the webview is cut off on initial load"
**Problem**
When the checkout is loaded without any saved data and thus prompting for user email & postcode, the top of the content is cut off (see screenshots).

It corrects itself after switching the field from email to postcode using the arrow keys on the keyboard (see screenshots).

Happens on all simulators and physical devices.

**How it is set up in code**
`CheckoutViewController` snippets:

[2018-04-23 09:31] d4rkd3v1l commented on #18
Same here :-(

[2018-05-18 13:21] gbanfalvikl commented on #18
Hi, we're aware of the issue and we're doing our best to identify/fix it. One of underlying HTML components is misplaced under very specific circumstances with UI and WKWebView.

[2018-05-24 15:13] DanielLeberle opened #19 "No notification received when adding listener on KCOSignal"
Hi everyone,

I implemented the SDK and was able to make a purchase with demo data.
I also added an observer to the notification `Notification.Name.KCOSignal` but I never get any notification from the SDK about the current status of the purchase.

Is there anything else I need to implement?

I use Klarna SDK 1.5.0 and everything is implemented in Swift with the XCode Version 9.3.1

[2018-05-24 15:14] gbanfalvikl commented on #19
Hi, there's an SDK release version 1.6.2. Could you try with that?

[2018-05-24 15:43] DanielLeberle commented on #19
I updated to 1.6.2 but still no notifications

[2018-05-24 15:44] gbanfalvikl commented on #19
Alright, we're looking into it. We'll get back to you ASAP!

[2018-06-20 06:43] DanielLeberle commented on #19
Are there any updates on this issue?

[2018-06-25 10:47] gbanfalvikl commented on #19
We've looked into it and it seems to work for us fine. What notifications are you missing? Are you getting the complete signal when the checkout completes?

[2018-06-26 06:48] DanielLeberle commented on #19
Unfortunately I don't receive any notifications from the SDK. I downloaded your demo project and everything works fine but it is Obj-C and I am using Swift. Do you think that might be an issue? Do you have a Swift Example where everything works?

[2018-06-26 09:46] DanielLeberle commented on #19
I just added a Swift observer to your Demo project and everything works fine. So I guess the error is in our app implementation. The weird thing is I just registered for all notifications and I also get a "KCOJavaScriptContextCreateNotification" notification but never a "KCOSignalNotification".
Currently I work in a dev environment, is that maybe the problem?
And I only set the snippet on the KCOK

[2018-06-28 08:39] DanielLeberle commented on #19
Another Update: I just copied your code and opened a UIVIewController containing a UIWebView with the same url that you use in your demo project. I also call notifyViewDidLoad and I can make a purchase just as in the demo app.
But also with this implementation I don't receive "KCOSignalNotification", I receive only "KCOJavaScriptContextCreateNotification".

[2018-07-05 09:14] MKGitHub commented on #19
Hi @DanielLeberle

Would you please be kind and send an email to mobile.sdk (a) klarna.com and we will investigate.

In the email please add this reference to this issue i.e.
"Reference: https://github.com/klarna/kco-mobile-sdk/issues/19"

Please attach a Xcode project demonstrating the issues that you are experiencing and also please add comments and notes to the code.

Add comments for what beha

[2018-07-23 11:35] airspeed opened #20 "KCOSignalDataKey: dictionary incomplete"
Hallo Klarna Team,

Is it by design that the `KCOSignalDataKey` dictionary only contains changes to country and zip code?
It would be very nice if we could extract all entered customer data at form send time.
Or is this a security concern?

Thanks a lot and keep up the good work :)

EDIT: Unless I am doing something very wrong it should not matter, but anyway for context`s sake here it is about th

[2018-10-08 08:13] www0488 opened #21 "Can't implement the SDK to android studio"
By following the step by step guide, I tried to implement the sdk to my project. But I can't even make that work.

**When I'm trying manually install the sdk:**
My file name is : klarna with extension are
project build:

repositories {
        google()
        jcenter()
        mavenCentral()
        flatDir {
            dirs 'libs'
        }
    }

app build:
    implementation (name: 'klarna',

[2018-10-08 08:27] www0488 commented on #21
Fixed, mixed up between app build and project build

[2018-10-08 08:27] #21 closed

[2018-10-18 21:57] mitemitreski commented on #21
good to hear, we are looking into simplifying this step as well.

[2018-10-19 10:18] www0488 opened #22 "Hard to understand how to add KCOSignalNotification."
Since I have not so much experience about objective c, its pretty hard for me to understand the language(Im using SWIFT). But I did managed to show the checkout view in my ViewControll class by using setSnipet(string:String) function. What problem I have now is, I have no idea how Im going to create a listener when checkout page has been loaded. Its will be easy if I can see there is one KCOSignal

[2018-10-19 10:25] gbanfalvikl commented on #22
Absolutely. We’re updating our documentation. Try observing the
NSNotification.

On Fri, 19 Oct 2018 at 16:03, www0488 <notifications@github.com> wrote:

--
*Gabriel Banfalvi*
Competence Lead / Mobile SDK
Purchase Experience
+46 72-855 83 67

Klarna Bank AB (publ)
Sveavägen 46, 111 34 Stockholm
Tel: +46 8 120 120 00 <+46812012000>
Reg no: 556737-0431
klarna.com

[2018-10-19 12:13] www0488 commented on #22
Can you give me some more details about how to use NSNotification with Klarna SDK for IOS.

[2018-10-19 12:36] www0488 commented on #22
Ok, fixed. Closing this issue :)

[2018-10-19 12:36] #22 closed

[2018-10-19 12:51] mitemitreski commented on #18
@gbanfalvikl this was fix in the underlying web app right ?

[2018-10-19 13:16] ghost commented on #18
If it helps, @mitemitreski @gbanfalvikl I "resolved" this issue by using the webView method (despite the documentation telling me not to...) for now.

I would like to implement the hybrid approach again when this is fixed.

[2018-11-15 13:06] rakshitsoni02 commented on #18
any workaround on this issue? as I'm also facing the same.

[2018-11-15 13:27] ghost commented on #18
@rakshitsoni02 I managed to do a workaround by using the deprecated webView method (I think its called the "hybrid" method according to their docs; I had the issue when implementing the "native" method) but as you may have noticed, they're not very responsive here, maybe try their customer support page on their website?

[2018-11-21 10:17] rakshitsoni02 commented on #18
@jkhwork thank you for suggesting.

[2018-11-22 08:14] omarbh commented on #18
@jkhwork  @rakshitsoni02 @d4rkd3v1l  We have identified the bug and we are working on a fix on Javascript side. The fix is estimated to be release next week! no changes are required from your side. Big thanks for reporting this 👍

[2018-11-29 09:10] jkhwork opened #23 "Provide a list of all notification names in the documentation"
It should be clear what notification signals there are for `KCOSignalNameKey` and `KCOSignalDataKey` in the documentation. Currently only "complete" is mentioned in the [documentation](https://github.com/klarna/kco-mobile-sdk/blob/master/ios/README.md#completion-1) for the `KCOSignalNameKey`.

A complete list (including error signals) should be in the documentation.

[2018-12-03 13:16] TillSimon opened #24 "Android: Crash when link is clicked in checkout view"
We are experiencing crashes when a simple web-url-link is clicked in the checkout view. It doesn't seem to have to do with the link itself, but rather some Android resource.
We did so far only see it on Galaxay S5, Android 4.4, so possibly this is an issue with older devices.

Stacktrace:
![image](https://user-images.githubusercontent.com/738058/49375964-0d4fd400-f706-11e8-88c9-27daec15979a.png)

[2018-12-03 20:28] omarbh commented on #24
@TillSimon Thanks for reporting this 👍 .  Can you specify which version of the SDK did you use ?

[2018-12-03 20:35] omarbh commented on #20
Hi @jkhwork , For the signals **billing_address_change**  and **shipping_address_change** the data that's shared depends on the **billing country**.  For example in UK we are sharing more data than just zip code and country, you can check here https://developers.klarna.com/en/gb/kco-v3/checkout/javascript-api/  however for other country such as Sweden we are sharing just country and zip code, exam

[2018-12-03 22:05] TillSimon commented on #24
Sure
`com.klarna.checkout:sdk:1.6.5`

[2018-12-04 17:10] omarbh commented on #18
@jkhwork @rakshitsoni02 @d4rkd3v1l We have done a release on Javascript  that contains a fix for this. if you do not experience anymore this then I will close this issue

[2018-12-12 09:15] airspeed commented on #20
Hi @omarbh,
thanks so much, that clarifies it. :)

[2018-12-12 09:15] #20 closed

[2018-12-27 14:25] omarbh commented on #18
I will closed this issue as it's fixed

[2018-12-27 14:28] omarbh commented on #23
@jkhwork Thank for reporting this 👍 you can check the documentation here https://developers.klarna.com/en/gb/kco-v3/checkout/javascript-api/  for the list of KCOSignalNameKey and the correspondent KCOSignalDataKey. This signal data depends on the country. We will update the docs to point to this information.

[2018-12-27 15:30] ajantabisht commented on #24
@TillSimon Thank you for reporting the issue. We can reproduce this issue in our staging environment and added a ticket in our backlog for the same. Will try to fix it as soon as we can.
Feel free to reach out for further questions.

[2019-01-03 10:32] rakshitsoni02 opened #25 "Build failed with 1.6.8 it was working with JAR"
More than one file was found with OS independent path 'META-INF/androidx.localbroadcastmanager_localbroadcastmanager.version'

[2019-01-03 10:36] gbanfalvikl commented on #25
Hi! Do you have a more complete error or stack-trace?

[2019-01-03 11:38] rakshitsoni02 commented on #25
hi, I solved by migrating to androidX
Solution is here
https://stackoverflow.com/questions/51280090/what-is-androidx

[2019-01-03 11:38] #25 closed

[2019-01-08 12:58] elindstrom commented on #7
Adding linker flag -ObjC when linking the framework solves this for me.

[2019-01-08 13:42] NanDotWang commented on #14
@eFagerman , are you still experiencing this issue ?

If so, please provide more info (best with a demo project to reproduce this issue). Thank you :)

[2019-01-08 14:03] eFagerman commented on #14
No, you can close this issue.

//erik

Den tis 8 jan. 2019 kl 14:42 skrev Nan <notifications@github.com>:

[2019-01-08 14:13] #14 closed

[2019-01-15 12:00] hannseman commented on #10
@gbanfalvikl any update on this?

[2019-01-27 14:33] dev-dubaisoftwaresolutions opened #26 "klarna No creating session IOS and getting this error."
FashionStore-CocoaPods[9347:135672] CredStore - performQuery - Error copying matching creds.  Error=-25300, query={
    class = inet;
    "m_Limit" = "m_LimitAll";
    ptcl = htps;
    "r_Attributes" = 1;
    sdmn = "very closed site";
    srvr = "api.playground.klarna.com";
    sync = syna;
}
BackendOperations createDataTask: The data couldn’t be read because it isn’t in the correct format.

[2019-01-30 13:29] omarbh commented on #19
Hi @DanielLeberle, if you the issue is fixed then we will mark this issue as resolved 👍

[2019-01-30 13:30] omarbh commented on #17
Hi @belalfyndiq This has been fixed in the version 1.6.5.

[2019-01-30 13:31] omarbh commented on #15
Hi @kitek We have released a fix for this in the version 1.6.5 please try this out and if the issue is resolved then we are going to mark the ticket as resolved.

[2019-02-04 06:32] kitek commented on #15
👍

[2019-02-04 06:32] #15 closed

[2019-02-04 10:24] omarbh commented on #26
Hi, could your provide more details about the issue. is This KCO or KP?

[2019-02-11 08:35] rakshitsoni02 commented on #18
@omarbh is there anything I need to change? as I can see elements are still not appearing completely on stage environment android SDK `1.6.8`

[2019-02-12 08:48] omarbh commented on #18
Hi @rakshitsoni02! You do not need to change anything, this should not be possible to reproduce anymore. Recently we have changed the layout of the initial elements with an enhanced one. could you take a screenshot and we we will look into this again!

[2019-02-12 09:35] rakshitsoni02 commented on #18
![img_1990](https://user-images.githubusercontent.com/8371249/52625631-b6a70900-2eb1-11e9-9a41-9fa40cea13b6.JPG)

Please have a look in the above picture. bottom icons are not completely visible.
it's same in iOS as well

[2019-02-12 11:04] omarbh commented on #18
Thanks @rakshitsoni02 for reporting 👍 ! however this is a separate issue, could please create a separate issue and include the order_id along side the screenshot and the frequency of this bug

[2019-02-12 12:07] rakshitsoni02 opened #27 "footer of the web-view not visible completely"
**orderId**: b29753f1-73ae-42be-bec0-52819c5e7bac
Frquency: every time
Platform: both android (Ver 1.6.8) & iOS
Reference:
![img_1990](https://user-images.githubusercontent.com/8371249/52634274-15c34880-2ec7-11e9-900f-e11f1780e2a6.JPG)

[2019-02-12 12:08] rakshitsoni02 commented on #18
@omarbh reported [here](https://github.com/klarna/kco-mobile-sdk/issues/27)

[2019-02-12 12:39] omarbh commented on #27
Thanks @rakshitsoni02 we will look into this and we will come back with more details 👊

[2019-03-18 09:58] kitek opened #28 "Could not find Fragment constructor com.klarna.checkout.a"
Version: 'com.klarna.checkout:sdk:1.6.8'
Platform: Android

How to reproduce:

1. Enable "Do not keep activies" in Developer options
2. On checkout screen move App to the background
3. Restore app from the background

Stacktrace:
[code]

[2019-03-18 12:16] omarbh commented on #28
Hi @kitek big thanks for reporting this issue. We will look into it and we will release a fix for it soon 👍

[2019-03-26 15:23] NanDotWang commented on #10
Hi, we are closing the issue, as we have add and verified Carthage support, please check README for details.

[2019-03-26 15:23] #10 closed

[2019-04-09 17:46] TillSimon opened #29 "Android: Crash when recreating killed checkout activity"
We are experiencing crashes when the activity containing the checkout view was killed when in the background due to low memory and then being recreated.
To be reproduced with _Deverloper Options -> Don't keep activities_.
If you then initiate a klarna checkout and simply put the app in the background and then restart it again, the crash happens.
Version: `com.klarna.checkout:sdk:1.6.8`

Crash:
`Ca

[2019-04-25 12:43] kitek commented on #29
@TillSimon for me it looks the same like [#28]
Any progress with this issue @omarbh ?

[2019-04-26 10:44] patrikfigura commented on #29
@TillSimon @kitek Hey, issue should be fixed in `1.6.10` release (if you are using support library use `1.6.10-support`). Let me know if it fixed your problem

[2019-04-26 10:44] patrikfigura commented on #28
@kitek Hey, issue should be fixed in `1.6.10` release (if you are using support library use `1.6.10-support`). Let me know if it fixed your problem

[2019-04-30 09:58] aborren opened #30 "Cannot install via Carthage"
Hi, I'm trying to add the kco-mobile-sdk via Carthage. I have added `github "klarna/kco-mobile-sdk"` to the Cartfile as stated in the README.

When I run `carthage update kco-mobile-sdk` I get the following issue.

`*** Skipped building kco-mobile-sdk due to the error:
Dependency "kco-mobile-sdk" has no shared framework schemes`

Am I doing something wrong or is there is anything I can do about it

[2019-04-30 13:10] aborren commented on #10
@NanDotWang @gbanfalvikl  I am sadly not able to verify this support. Please have a look at https://github.com/klarna/kco-mobile-sdk/issues/30

[2019-05-06 15:02] kitek commented on #28
@patrikfigura It seems to be working fine. Thanks!

[2019-05-06 15:02] #28 closed

[2019-05-15 11:11] omarbh commented on #30
Hi @aborren ! thanks for reporting this. We will look into it and get back to you as soon as possible.

[2019-05-15 11:12] omarbh commented on #29
@TillSimon @kitek is this still an issue for you? otherwise I will close this issue

[2019-05-16 14:08] kitek commented on #29
@omarbh I think it's solved. Thank you.

[2019-05-21 11:45] #29 closed

[2019-05-21 11:46] #26 closed

[2019-05-21 11:47] omarbh commented on #26
Hi @dev-dubaisoftwaresolutions  I will close this issue as we do not have enough information to investigate the issue.

[2019-05-21 11:49] #19 closed

[2019-05-21 11:49] #17 closed

[2019-05-21 11:51] omarbh commented on #9
Hi @hannseman we have release a fix! could you check this. I will close this issue.

[2019-05-21 11:51] #9 closed

[2019-05-21 12:42] aborren opened #31 "Unable to archive with manually added framework"
Hi, seeing as Carthage is not working #30 I have tried to add the framework manually. This works when running the device on simulator and device in debug mode. However when trying to archive the project I am facing the following error:

`bitcode bundle could not be generated because './KlarnaCheckoutSDK.framework/KlarnaCheckoutSDK' was built without full bitcode. All frameworks and dylibs for bitc

[2019-05-21 13:00] aborren commented on #31
Disabling Bitcode makes it possible to archive it, however that is not something I want to do...

[2019-05-21 13:06] aborren commented on #31
And it creates the following error when uploading to AppStore Connect.

`App Store Connect Operation Error
ERROR ITMS-90087: "Unsupported Architectures. The executable for App.app/Frameworks/KlarnaCheckoutSDK.framework contains unsupported architectures '[x86_64, i386]'."`

This can be bypassed by stripping the unsupported architectures in a Run Script Phase.

[2019-06-13 08:19] adrianblp opened #32 "After exiting checkout activity, any new checkout renders blank"
We have a checkout flow which integrates the Klarna Checkout SDK, where when the user confirms the checkout they get sent to a new activity where we display the Klarna checkout (Native).

The problem arises when the user exits the Klarna checkout activity, reenters our checkout, confirms it again, gets a new token and starts the Klarna checkout activity again. After two or three of these, the Klar

[2019-06-13 13:44] omarbh commented on #32
Hi! thanks for Hi @adrianblp! thanks for reporting this. We will look into it and get back to you asap

[2019-06-20 07:48] adrianpalmquist commented on #32
@adrianblp Do you call [`checkout.destroy()`](https://github.com/klarna/kco-mobile-sdk/blob/master/android/README.md#cleanup) when the user exits the Klarna checkout activity and then re-initialize it when the user re-enters the Klarna checkout activity?

[2019-06-20 08:13] adrianblancode commented on #32
@adrianpalmquist Yes. We init KlarnaCheckout and add it to our ScrollView in onCreate, and we call destroy() in onDestroy().

The only thing which I can think of we are doing differently from the documentation is that we don't have a launchMode set for our klarna checkout activity in our manifest since android studio complains about on "singleTask|singleTop". Not sure if that would matter anyway s

[2019-06-20 09:15] adrianpalmquist commented on #32
@adrianblp We are not able to reproduce it in our testing environment. Can you please share a screen recording and relevant logs.

[2019-06-20 10:10] adrianblancode commented on #32
This is from entering the klarna checkout activity (fully functional), exiting it and then entering it again with a new snippet (does not show).

I have a screen capture of it, but GitHub doesn't accept video files so I can mail it to you (or just message it to me at adrian.blanco@bontouch.com) if it's a more private email

[code]

[2019-06-25 13:54] adrianblancode commented on #32
A band aid fix that was discovered was to disable caching on the WebView

[code]

[2019-07-03 10:47] adrianpalmquist commented on #23
A link has been added to the docs.

[2019-07-03 10:47] #23 closed

[2019-07-03 13:21] dov11 opened #33 "Scroll not working on android device"
Hello,
We are using the Klarna sdk in a reac-native app using the wrapper [react-native-klarna](https://github.com/lightbasenl/react-native-klarna). It was working fine until recently, when we noticed that scrolling of Klarna checkout view stopped working on android.

I have made a simple native android app to test if the problem exists for native apps.
It can be found [here](https://github.com/do

[2019-07-04 15:41] adrianpalmquist commented on #33
Hi, thank you for reaching out. We have [updated the README](https://github.com/klarna/kco-mobile-sdk/tree/master/android#presenting-the-checkout-view) with a new recommendation which is to place a `ScrollView` somewhere in the parent hierarchy of the payment container that you create to enable scrolling on all devices.

If you still experience problems with scrolling and it's related to #27 pleas

[2019-07-10 13:31] dov11 commented on #33
Thanks for your reply, I am now placing my Klarna view like so (programmatically generated):
[code]
This enables scrolling, however now, under certain conditions, the view is cut-off (might be related to #27?).
Image 1 - View is cut-off. Image 2 - same View expands correctly after interacting with an input field.

Image 1:

![Screenshot_20190710-151457_wayke-debug](https://user-images.githubuserco

[2019-07-24 09:31] omarbh commented on #33
Hi @dov11 ! Really big thinks for reporting this. We are aware of this issue - the view is cut, and we are looking into it !

[2019-08-28 10:49] aborren commented on #30
Any updates regarding this?

[2019-09-03 11:30] rogerbf commented on #33
Hi @omarbh, are there any updates and/or timeline that you can share regarding this issue?

Thanks.

[2019-09-10 11:55] aborren opened #34 "Apple no longer accepting UIWebView"
The following message is being sent from Apple after uploading an app that has imported the KlarnaCheckoutSDK.

It can easily be reproduced by creating an empty project that only imports your SDK.

This is an urgent issue as Apple already has started rejecting apps using UIWebView API:s. You need to migrate and use WebKit and WKWebViews.

[2019-09-10 12:28] gbanfalvikl commented on #34
Hi there!

Yeah, we're aware of the warning, however we have no way to avoid it completely:
1) The SDK supports merchants that integrate Klarna Checkout using `UIWebView` and co. so our code definitely has references to it. We can't remove support without breaking API commitments.
2) Some internal components (e.g. the In-App browser) are being migrated now to either `SFSafariViewController` or alt

[2019-09-10 12:48] adrianpalmquist commented on #32
Placing the checkout view in a `ScrollView` is recommended instead. Please note that disabling web view cache is not recommended as this will impact performance on subsequent loads.

[2019-09-10 12:48] #32 closed

[2019-09-16 04:30] sammcewan commented on #34
@gbanfalvikl Was initially confused by your first message so we need to clarify that, as per your final statement, you are removing references to UIWebView from this SDK?

This is crucial for us to have some reassurance as we look to take on this as a dependency. We are in the final stages of completing a project to replace UIWebView entirely with WKWebView in our product.

Thanks in advance!

[2019-10-01 14:17] omarbh commented on #34
Hi @sammcewan removing UIWebview is in our road map. I will closed this ticket as it's solved!

[2019-10-08 12:05] #34 closed

[2019-10-08 15:02] d4rkd3v1l opened #35 "WebView content too large and cut off"
We just noticed that the WebView content is way too large and therefore cut off, as you can see in attached screenshot.
I don't think this is an SDK issue, but unfortunately I didn't find a better place to report this.

KlarnaCheckoutSDK (1.6.2, 1.6.6)
iOS 12 & 13
iPhone XS

![Simulator Screen Shot - iPhone Xs - 2019-10-08 at 16 53 34](https://user-images.githubusercontent.com/13336238/66407253-32

[2019-11-01 09:59] omarbh commented on #35
Hi @d4rkd3v1l thanks for reporting this, we have fixe this issue recently, could you check if you can still reproduce it ?

[2019-11-01 10:06] adrianpalmquist commented on #33
@rogerbf Hi, this issue should be fixed in v 1.6.12. Please let us know if you still have issues with resizing and/or scrolling.

[2019-11-01 10:06] #33 closed

[2019-11-02 11:28] d4rkd3v1l commented on #35
Thanks a lot, seems like it works now as expected :-)

[2019-11-02 11:28] #35 closed

[2019-11-06 16:51] roycep93 opened #36 "Application getting CRASH...."
Application getting crash.

i use **implementation 'com.klarna.checkout:sdk:1.6.11'** Latest version.

Can you please UPLOAD proper sample with SAMEPLE All code with checkout url..

How i can generate checkoutURL?

currently i use https://api.playground.klarna.com/checkout/v3/orders/
use for **html_snippet**  can you please add sample with backend and app code.

2019-11-06 11:45:14.141 8932-8932/c

[2019-11-14 14:44] adrianpalmquist commented on #36
Hi @roycep93, can you provide the html_snippet?

[2019-12-02 09:58] omarbh commented on #36
Hi @roycep93 I will close this ticket as we did not get an answer from you.

[2019-12-02 09:58] #36 closed

[2019-12-02 10:10] omarbh commented on #27
Hi @rakshitsoni02 the should be fixed in the latest version of CheckoutSDK Android 1.6.13. I will close this ticket please feel free to open if the issue still there!

[2019-12-02 10:10] #27 closed

[2020-03-23 13:45] aniket283 opened #42 "ERROR: Failed to resolve: com.klarna.checkout:sdk:1.6.13"
When ever I am trying to add dependency at gradle
implementation 'com.klarna.checkout:sdk:1.6.13'

it is throwing error ERROR: Failed to resolve: com.klarna.checkout:sdk:1.6.13

stack overflow link : https://stackoverflow.com/questions/60814573/error-failed-to-resolve-com-klarna-checkoutsdk1-6-13

[2020-03-23 15:45] adrianpalmquist commented on #42
Hi, closing this issue because solution was posted on stack overflow.

[2020-03-23 15:45] #42 closed

[2020-06-16 02:34] rifqimfahmi commented on #28
Hi @patrikfigura can you tell us how you fix this in the code? I also encounter this crash in my project but can't find any solution on the internet. Thank you

[2020-07-02 09:46] mBrissman commented on #30
Having the same problem.

[2020-07-02 13:24] polar133 commented on #30
Hi @mBrissman, did you added this line into your Cartfile ?

`binary "https://raw.githubusercontent.com/klarna/kco-mobile-sdk/master/KlarnaCheckoutSDK.json"`

please, can you share how are you integrating KCO in your cartfile? thanks.

[2020-07-02 13:41] mBrissman commented on #30
Hi @polar133!

Thank you for the fast response!

No, I just added the line mentioned in the readme of your repo: `github "klarna/kco-mobile-sdk"`

But the binary works. 👍

[2020-07-02 13:44] polar133 commented on #30
@mBrissman thanks for the update!

[2020-07-02 13:44] #30 closed

[2020-09-21 22:42] rresma2 opened #51 "Swift Package Manager Support for Xcode 12"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**

The current `Package.swift` file uses an outdated Xcode tools version

[code]

I'd like to request you guys to update to swift-tools-verison 5.3.

[code]

**Describe alternatives you've considered**

Using KlarnaCheckout in Cocoapods

**Additional context**

Our team at Wish is migrating aw

[2020-09-24 14:46] polar133 commented on #51
Hi @rresma2 , we update to version 1.6.13, please give a try and let us know if that one works for your project.

[2020-09-24 20:24] rresma2 commented on #51
Hi @polar133 this is what I'm seeing right now on master.

[code]

You'd need to have something like this?

[code]

[2020-09-25 07:47] rresma2 commented on #51
Package Resolution Failed

`kco-mobile-sdk.git`

[code]

[2020-09-25 07:51] polar133 commented on #51
Thanks for the update @rresma2. I will give a look at it and be back later when we have some updates to share.

[2020-09-25 09:06] polar133 commented on #51
Hi @rresma2. For making it available in SPM we would need more time as we need to migrate to xcframework. So i can't give an estimated time when it will be released. We will try to make it available ASAP but we need to test it more before.

[2020-10-08 13:57] polar133 commented on #51
Hi @rresma2. We release 1.6.14 which contains support for swift package manager. Please, give a try and let us how did it go.

[2020-10-12 09:47] paweldziennik opened #55 "iOS Crash after BankID sign in"
**Describe the bug**
App is crashing when user singing transaction using BankID using Klarna Checkout. Crashes started to occur around 4th Ocotober

**To Reproduce**
1. Go to Klarna Checkout
2. Select payment with BankID
3. Login in BankID (redirect)
4. Go back to the app
4. Crash

**Expected behavior**
Checkout goes fine

**Device and version (please complete the following information):**
 - Devi

[2020-10-12 09:56] omarbh commented on #55
Hi @paweldziennik, could you provide some additional details:
- which platform version the issue is occurring?
- is the issue happening on the demo app?
Cheers

[2020-10-12 10:26] ghost commented on #55
Happening on iOS App
I was not able to reproduce to it on demo/test app. Also crash don't occur for 100% users on production app

[2020-10-21 14:53] ghost commented on #55
Any update? Got quite a lot crashes recently for this issue. Maybe this stack trace will help you help me?

[2020-10-22 07:40] polar133 commented on #55
Hi @paweldziennik we will look at it, thanks for the stacktrace that will help us a lot. Did you manage to reproduce it on dev/test environment?  there are newer versions where several bugs has been fixed, can you take a look at those and check if you can still reproduce the same behaviour?

[2020-10-23 15:04] ghost commented on #55
Its no reproducible on dev env as it has no bankID option. But seems like new version fixes it (at least for some customers), will let you know if that issue can be closed after weekend. Thanks for help!

[2020-10-26 14:26] polar133 commented on #55
Hi @paweldziennik. let us know how did it went when you have better information please. thanks.

[2020-11-04 06:31] ghost commented on #55
@polar133 Ok, seems like issue can be closed, thanks for help.

[2020-11-04 06:32] #55 closed

[2020-11-04 15:29] #51 closed

[2020-12-15 17:53] idrougge opened #57 "NSInvalidArgumentException: attempt to insert nil object from objects[0]"
**Describe the bug**
Presenting `KCOKlarnaCheckout.checkoutViewController` results in exceptions as below:
```*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[0]'```

**To Reproduce**
Call  `KCOKlarnaCheckout.checkoutViewController` before calling `KCOKlarn

[2020-12-16 10:51] polar133 commented on #57
Hi @idrougge, thanks for reaching out with this issue.

I just try to reproduce it and couldn't found the same behaviour. Could you please share a snippet on how you are creating the KCOKlarnaCheckout and calling the checkoutViewController  ?

the code that was tested :

[code]

[2020-12-17 07:30] sgrosz opened #58 "Crash when BankID is not installed on device [Android]"
**Describe the bug**
App crashes when BankId is not installed on the device on Android.

**To Reproduce**
Pay using a payment type which triggers BankID to be opened on device and make sure you don't have bankID installed on the device.

**Expected behavior**
There should be a check to make sure that there is an activity which can start the Intent.

**Device and version (please complete the follow

[2020-12-17 12:46] NMGuner commented on #58
Hi @sgrosz, thank you for pointing out this issue. We will investigate it and include a fix in the following release.

[2021-01-14 13:19] NMGuner commented on #58
Hi @sgrosz, we just released a new version(1.6.15) which includes a fix for external apps such as BankID. It would be great if you could try it and inform us whether it is resolved or not on your side.

[2021-01-20 10:16] sgrosz commented on #58
Seems to be resolved in 1.6.15

[2021-01-20 10:16] #58 closed

[2021-04-12 09:30] omarbh commented on #57
I will close this, @idrougge  please feel free to open it again if you still have the issue

[2021-04-12 09:30] #57 closed

[2021-04-12 09:31] omarbh commented on #31
This will be fixed in the new sdk, I will close this, @aborren  please feel free to open it again if you still have any question

[2021-04-12 09:31] #31 closed

[2021-04-12 09:36] omarbh commented on #7
I will close this issue, please feel free to open it if you still have any question

[2021-04-12 09:36] #7 closed

[2021-04-12 10:56] Shaftar commented on #28
Hi did any one get  this fixed. Please can you share your solution? Which library should i update?

[2021-05-31 07:13] omarbh commented on #24
Hi, this will be fixed in the new in-app sdk.

[2021-05-31 07:13] #24 closed

[2022-03-28 17:15] erik-kallen opened #67 "Make it possible to handle orders that are rejected by the validate callback"
**Is your feature request related to a problem? Please describe.**

The KlarnaCheckout API supports specifying a validate callback (https://docs.klarna.com/klarna-checkout/popular-use-cases/validate-order/). This callback is supposed to return either `200 OK` (to continue with the order), or `303 See Other` (if the order is invalid).

When the callback returns `303 See Other`, this SDK will uncond

[2022-03-28 17:44] erik-kallen opened #68 "Documentation refers to wrong pod"
**Describe the bug**
The documentation at https://docs.klarna.com/in-app/checkout-sdk/checkout-ios-overview/ios-getting-started/ says to use `pod KlarnaCheckout`. It seems to me that it should be `pod KlarnaCheckoutSDK` instead.

[2022-04-08 15:48] erik-kallen commented on #67
It seems that this does not need fixing after all.

The problem was that I set `self.checkout.merchantHandlesValidationErrors = YES` immediately after creating `self.checkout`. When I moved the assignment to immediately before I do `[self.checkout setSnippet: ..]` it magically started working.

I'm leaving it open because the documentation only says that the property needs to be set before startin

[2022-04-13 18:35] erik-kallen opened #70 "Expose the sizing events to Android"
**Is your feature request related to a problem? Please describe.**
There appears to be no way to know how high the checkout should appear on Android

**Describe the solution you'd like**
The iOS SDK has a `sizingDelegate` whose `didResize` member will be invoked with the size that the checkout should appear to have.

I want to be able to use this in Android as well.

**Describe alternatives you've

[2022-04-13 18:39] erik-kallen opened #71 "Version 1.7.x seems to not be available for Android."
**Describe the bug**
According to the releases/ branches, there seems to be a release 1.7.0 for Android. However, Gradle fails to resolve this dependency. It can resolve 1.6.15 without issue, but not 1.7.x

build.gradle:

[code]

And

[code]

[2022-04-14 08:29] NMGuner commented on #71
Hi @erik-kallen, can you please check if you can access [maven metadata](https://x.klarnacdn.net/mobile-sdk/com/klarna/checkout/sdk/maven-metadata.xml) and [AAR file](https://x.klarnacdn.net/mobile-sdk/com/klarna/checkout/sdk/1.7.1/sdk-1.7.1.aar). What we suspect is, it may be a VPN/internal network issue if the version 1.6.15 of the SDK is already cached in your local gradle.

[2022-04-14 08:32] NMGuner commented on #70
Hi @erik-kallen, we haven't exposed such delegate/callback as Android allows you to use `wrap_content`, which has been working so far for our views. Do you have a use-case where that layout param is not working?

[2022-04-14 09:20] polar133 commented on #68
Hi @erik-kallen, thanks for reporting the bug. We have already updated it. 👍

[2022-04-14 09:20] #68 closed

[2022-04-14 11:02] erik-kallen commented on #70
Thanks for your reply.

My use case is that I want to embed the SDK inside of React-Native, and it appears that the size must be communicated back to React Native in order for its layout algorithm to work.

I have almost managed to solve this by using `mKlarnaCheckout.getView().addOnLayoutChangeListener()`. This is quite close to working, but:

* Immediately after I call `setSnippet`, my listener

[2022-04-14 11:04] erik-kallen commented on #71
Thank you for your reply.

For some reason it worked today. Exactly the same office network as I was on yesterday, so I don't understand it at all.

[2022-04-14 11:04] #71 closed

[2022-04-19 12:22] erik-kallen commented on #70
Turns out this isn't necessary, with enough hacking it was possible to make it work without it.

If someone ends up here from Google, what I did was

[code]

[2022-04-19 12:23] #70 closed

[2022-04-29 09:33] casvanluijtelaar opened #72 "1.7.2 & 1.7.3 not available for android"
seems the latest versions aren't retrievable yet: https://x.klarnacdn.net/mobile-sdk/com/klarna/checkout/sdk/maven-metadata.xml

[2022-05-01 15:37] eljass opened #73 "SDK does not redirect to bank authorization"
**Describe the bug**
The payment gets stuck on opening the Klarna window. If the user cancels the payment he/she cannot get back to the main application, or if they select a bank, the bank's page does not open from the window.

This works correctly with demo credentials on KCO. It opens Chrome (on Android) and Safari (on iOS) and there is the possibility to "authorize" or "deny" the payment. Windo

[2022-05-02 07:50] NMGuner commented on #72
Hi @casvanluijtelaar, our SDK versioning is not matched between platforms hence the iOS SDK has 1.7.3 but the latest Android version is 1.7.1 as documented in the [changelog](https://github.com/klarna/kco-mobile-sdk/blob/master/CHANGELOG.md). This is mainly due to different fixes on different platforms, you are suggested and safe to use the latest version of the respective platform SDK.

[2022-05-02 07:50] #72 closed

[2022-05-19 12:12] polar133 commented on #73
Hi @eljass, thanks for reaching out.

Sorry for the late reply. We were informed that this issue is fixed. There aren't changes in the codebase. Please, try again and let us know how it did goes.

[2022-05-20 16:54] eljass commented on #73
Hi @polar133,

Yes, this was fixed and now the SDK opens a new WebView for Sofort. There are still some UX issues on that and the full-screen modal. I reported those by email to our Klarna contact, but to inform you guys as well:

1. When Sofort WebView opens there are now two "x" buttons in the upper right corner. One inside the website content (includes asking the reason for cancellation) and on

[2022-06-13 10:36] eljass commented on #73
Any updates on this @polar133?

[2022-09-08 06:38] russnes opened #75 "Payment stuck at "Connecting to bank" after 3rd party completion (bankid)"
**Describe the bug**
After paying with Klarna labeled credit card, the Klarna view is stuck at "Connecting to your bank". Upon clicking on the top-right X, it proceeds successfully. This is happening both on Android and on iOS.

I noticed the following in the logs on our Android device:

        "SDK Lib error: Parsing JSON. SyntaxError: Unexpected token < in JSON at position 0", source: https://c

[2022-09-08 12:52] NMGuner commented on #75
Hi @russnes, thanks for reporting the issue. We will be doing the investigation with Klarna Checkout team and others.

In order to speed up the process, would you be able to provide any Klarna session or order IDs with us please.

[2022-09-09 05:51] russnes commented on #75
Hi @NMGuner
Sure, here is an order id that I just created on my end:
e4a8c479-b243-4982-a371-8a8d5175b0ee

[2022-09-26 12:12] russnes commented on #75
Hi again. I haven't had time to test extensively yet, but as our implementation is a React native app with wrapped native components, we found an issue where our app would reload the Klarna view as the app entered the background, so it might have been the issue that the Klarna view got re-created during the payment.

I will debug more later but I will close the issue for now and re-open if we stil

[2022-09-26 12:12] #75 closed

[2022-10-26 20:02] eljass opened #76 "Redirection to external payment stuck on loading screen"
**Describe the bug**
The loading screen does not close once redirected to the external payment method page.

**To Reproduce**
1. Load KCO widget
2. Select an external payment method and click "Select xxx"
3. Navigate inside SPA to another page where there is no Klarna widget present
4. Opened "Redirecting to the payment page" modal does not close

**Expected behavior**
Once redirection is done on

[2022-10-28 08:18] gbanfalvikl commented on #76
Hi! Are you setting the "Handles external payment methods" flag before setting the snippet?

[2022-10-28 09:49] eljass commented on #76
@gbanfalvikl
Hi,
Yes, I do think so. We use Capacitor plugin for this and you can see how it's initialized from here if you could pinpoint any issues:
https://github.com/Fiksuruoka-fi/capacitor-klarna-kco/blob/14c092dd55f0489bbad96bbe637f84ec1ee45d65/ios/Plugin/KlarnaKco.swift#L95-L115